{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "hello-bucket"
  },
  "Image": {
    "Name": "mlundela/hello-node:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "8000"
    }
  ]
}