{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "hello-bucket",
    "Key": {
      "https://index.docker.io/v1/": {
        "username": "<DOCKER_USER>",
        "password": "<DOCKER_PASS>",
        "email": "<DOCKER_EMAIL>"
      }
    }
  },
  "Image": {
    "Name": "mlundela/hello-node:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "8000"
    }
  ]
}